body{
    font-family: monospace
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
h2{
    font-weight: 700;
    text-align: center;
    font-size: 40px;
}
h4{
    text-align: center
}
h5{
    font-size: 19px;
}
p{
    font-size: 30px
}
html{
    scroll-behavior: smooth;
}